.header{
			display: flex;
			padding: 5px;
			background-color: white;
			align-items: top;
			font-family: 'Trebuchet MS', sans-serif;
		}

		.logo img{
			width: 90px;
			padding-left: 100px; 
			padding-right: 5px;
		}

		.logotext h1{
			padding-left: 5px;
			padding-right: 5px;
			font-size: 25px;
			color: #c45b56;
		}

		.logintext h1{
			padding-left: 5px;
			font-size: 25px;
		}

		body { background-color:#c45b56;
			margin: 0;
		}

		.context {
			height: 650px;
			align-items: center;
			display: flex;
		}

		.contextimg img{
			width: 300px;
			position: relative;
			left: 350px;
		
		}

		figcaption{
			position: relative;
			left: 270px;
			color: white;
			font-size: 20px;
			font-family: 'Trebuchet MS', sans-serif;
			text-align: center;

		}

		.container {
			background-color: white;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 12px;
			width: 9cm;
			height: 490px;
			position: absolute;
			right: 250px;		
			border: 3px solid rgb(237,237,237);
		}

		.formheader{
			font-family: 'Trebuchet MS', sans-serif;
			font-size: 20px;
		}

		.innerform{
			margin-bottom: 4px;
			position: relative;
		}

		.form input{
			display: block;
			border-radius: 12px;
			font-size: 12px;
			width: 7.5cm;
			padding: 10px ;
			margin-right: auto;
			margin-left: auto;
			border-width:2.5px;
		}

		.submit{
			background-color: rgba(196, 91, 86, 0.7);
			font-family: 'Trebuchet MS', sans-serif;
			color: white;
			width: 7.5cm;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			bottom: 2.75cm;

		}

		.reset{
			font-family: 'Trebuchet MS', sans-serif;
			width: 7.5cm;
			position: absolute;
			margin-left: auto;
			margin-right: auto;
			left: 0;
			right: 0;
			text-align: center;
			bottom: 1.5cm;
		}

		.formfooter {
			font-family: 'Trebuchet MS', sans-serif;
			font-size: 13px;
		}

		.formfooter p{
			color: grey;
			bottom:0;
			position: absolute;
			left: 2.5cm;
		}

		.formfooter a:link{
			color: rgb(196, 91, 86);
			text-decoration: none;
			font-weight: bold;
		}

		.formfooter a:visited{
			color: rgb(196, 91, 86);
			text-decoration: none;
			font-weight: bold;
		}

		.after{
			background-color: white;
			padding-left: 20px;
			padding-right: 20px;
			border-radius: 12px;
			width: 9cm;
			height: 550px;
			position: absolute;
			right: 250px;	
			text-align: center;
			border: 3px solid rgb(237,237,237);
			visibility: hidden;

		}

		.after img{
			width: 100px;
			position: relative;
			top: 100px;
		}

		.aftertext{
			margin-top: 10px;
			position: relative;
			font-family: 'Trebuchet MS', sans-serif;
			font-size: 16px;
			top: 100px;
		}

		.afterinput{
			position: relative;
			top: 130px;
		}

		.afterinput input{
			display: block;
			border-radius: 12px;
			font-size: 15px;
			width: 7.5cm;
			padding: 10px ;
			margin-right: auto;
			margin-left: auto;
			background-color: rgba(196, 91, 86, 0.7);
			font-family: 'Trebuchet MS', sans-serif;
			color: white;
		}

		.footer{
			background-color: white;
			text-align: center;
			height: 90px;
			color: grey;
			font-size: 12px;
		}

		.footer hr{
			width: 80%;
		}

		.errorblock{
			display: block;
			height: 17px;
		}

		small{
			left: 17px;
			display: block;
			position: relative;
			font-size: 13px;
			color: red;
		}

		.innerform.error input{
			border: 2px solid red;
		}


		.innerform.success input{
			border: 2px solid rgb(50,205,50);
		}

		.container.after{
			visibility: hidden;
			visibility: <?=$container?>;
		}

		.after.success{
			visibility: visible;
			visibility: <?=$after?>;
		}